body {
    background-color: brown;
}
h1 {
font-family: cursive;
    color: whitesmoke
}
nav{
    font-family: cursive;
    color: brown;
}

h1 {
    text-align: center;
}

.navlink :active {
    text-shadow: 2px brown;
}